.profile-clip {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: $clip-size;
  z-index: 99;

  &__avatar {
    border-radius: 50%;
    border: 4px solid $white;
    width: $clip-size;
    height: $clip-size;
    position: absolute;
    left: 2rem;

    img {
      border-radius: 50%;
    }
  }
}
