.feed {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  height: 100vh;
  width: 100%;
  padding: 2rem 2rem 2rem 1rem;
  overflow-y: scroll;

  &__container {
    display: flex;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    width: 20vw;
    margin: 2rem 1rem 2rem 2rem;

    &__controls {
      display: flex;
      margin-top: auto;
    }

    &__settings {
      margin-left: auto;
    }

    .link-icon {
      @include rem('font-size', 18px);
    }

    &.card--with-clip {
      margin-top: ($clip-size / 2) + 32px;
      height: calc(100vh - (4rem + #{($clip-size / 2) + 32px}));
    }

    .profile-clip__avatar {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
